@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Bree+Serif&display=swap');


:root {
    --cor-de-fundo: #004aad;
    --cor-do-cartao: #ffffff;
    --cor-texto-footer: #ffffff;
    --cor-fundo-footer: #000000;
    --cor-titulo: #000000;
    --cor-texto-cartao: #000000;
    --cor-botao-primario: #ffffff;
    --cor-botao-secundario: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: var(--cor-de-fundo);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.flashcard-container {
    background-color: var(--cor-do-cartao);
    width: 500px;
    padding: 140px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 50vh;
    gap: 3rem;
}

.flashcard {
    text-align: center;
}



.content {
    padding: 20px;
    margin: 10px 0;
}

button {
    background-color: var(--cor-botao-secundario);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--cor-do-cartao);
    color: var(--cor-titulo);
}
